.answerboxstyle  {
    background-color:	#FFFAF0;
    border-color:	#808080;
    border-style:	solid;
    border-width:	1px;
    display:	block;
    padding:	.75em;
    width:	240pt;
}

.gamebox  {
    border-style:	solid;
    border-width:	1pt;
    cursor:	pointer;
    font-size:	.12in;
    font-weight:	bold;
    overflow:	hidden;
    text-align:	center;
    width:	2rem;
    height:	2rem;
}

.boxcheated_sel  {
    background-color:	#FFF1D7;
    border-color:	#C00000;
    color:	#2080D0;
}

.boxcheated_unsel  {
    background-color:	#ffffff;
    border-color:	#606060;
    color:	#2080D0;
}

.boxerror_sel  {
    background-color:	#FFF1D7;
    border-color:	#C00000;
    color:	#BF0000;
}

.boxerror_unsel  {
    background-color:	#FFF0F0;
    border-color:	#606060;
    color:	#BF0000;
}

.boxnormal_sel  {
    background-color:	#FFF1D7;
    border-color:	#C00000;
    color:	#000000;
}

.boxnormal_unsel  {
    background-color:	#ffffff;
    border-color:	#606060;
    color:	#000000;
}

.button  {
    width:	64pt;
}

.cluebox  {
    border-bottom-width:	1px;
    border-color:	#c0c0c0;
    border-left-width:	0px;
    border-right-width:	0px;
    border-style:	solid;
    border-top-width:	1px;
    font-size:	85%;
    margin-top:	1em;
    padding-bottom:	.5em;
    padding-left:	0pt;
    padding-right:	0pt;
    padding-top:	.5em;
}

.crosswordarea  {
    background-color:	#D0D8E0;
    border-color:	#808080;
    border-style:	solid;
    border-width:	2px;
    padding:	.5em;
}

#region-game.body  {
    background-color:	white;
    cursor:	default;
}

#region-game.body, #region-game.button, #region-game.input, #region-game.p, #region-game.td  {
    font-family:	Verdana, Arial, Sans-Serif;
    font-size:	small;
}

#region-game.button  {
    cursor:	pointer;
}

#region-game.h1, #region-game.h2, #region-game.h3  {
    color:	#5F78A2;
    font-family:	Franklin Gothic Medium, Arial, Sans-Serif;
    font-weight:	normal;
}

#region-game.p  {
    margin-top:	1em;
}
